// Scss styles

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(../img/back.png);
}

h1{
	font-family: 'Indie Flower', cursive !important; 
	font-size: 50px !important;
	color: RGBA(194, 46, 79, 1) !important;
}

a {
  color: #00B7FF;
}

strong{
	color: #FA4D24
}

.allCloth{
	img{
		width: 200px;
		height: 200px
	}
}

.shoppingChart{
	box-shadow: 0 0 1px;
	padding-bottom: 20px;
	border-radius: 15px;
	background: RGB(199, 208, 209);
	background: RGBA(199, 208, 209, 0.5);

	h5,
	.itemChart{
		text-align: center;
		margin: 10px 0;
		padding-top: 10px;

	}
	
	.discounts{
		padding: 10px 0;
		border-bottom: 1px solid;
		border-top: 1px solid;
		text-align: center;
		background-color: RGB(245, 247, 236);
		background: RGBA(245, 247, 236, 1);

		button{
			margin-bottom: 10px
		}
	}

	.itemChart{
		border-bottom: 2px solid;
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 750px){
		.allCloth{
			
			img{
				width: 50%;
				height: auto;
			}
				
			.floatAtMedium{
				float: right;
				display: block;
			}
		}

}










