body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

strong {
  color: #FA4D24; }

.shoppingChart {
  box-shadow: 0 0 1px;
  padding-bottom: 20px;
  border-radius: 15px; }
  .shoppingChart h5, .shoppingChart .itemChart {
    text-align: center;
    margin: 10px 0;
    padding-top: 10px; }
  .shoppingChart .discounts {
    padding: 20%;
    border-bottom: 1px solid;
    border-top: 1px solid; }
    .shoppingChart .discounts button {
      margin-bottom: 10px; }
