extends layout

block content
  h1.title Welcome to #{title}

  section.allCloth

  section.chart
    section.discounts

  script(src="components/angular/angular.min.js")
  script(src="js/app.js")
  script(src="js/controller.js")
  script(src="js/service.js")
