extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src="components/angular/angular.min.js")
  script(src="js/app.js")
  script(src="js/controller.js")
  script(src="js/service.js")
