extends layout

block content

	.container-fluid
		.row
			.col-md-10.col-sm-9.col-xs-9(ng-controller='ClothCtrl')
				h1.title Welcome to #{title}
				.row
					section.allCloth
						div.col-md-4.col-sm-6.col-xs-12(ng-repeat='product in products track by $index')
							h6(ng-bind='product.name') 
							img(src="{{product.image}}", alt="{{product.name}}",class="img-thumbnail")
							h6(ng-bind='product.category')
							p(data-ng-bind='product.price | currency : "£ " : 2')
							p Stock left #[strong(ng-bind='product.stock')]
							button(class='btn btn-xs btn-success',ng-click='addItem($index)',ng-disabled='checkStock($index)') Add Item
		
			.col-md-2.col-sm-3.col-xs-8(ng-controller='CartCtrl')
				section.shoppingChart
					h5.totalPrice Price order #[strong(ng-bind='totalPrice() | currency : "£ " : 2')]

					h5.priceDisc(ng-show='isDiscounted') Price with discounts #[strong(ng-bind='priceDisc() | currency : "£ " : 2') ] 
					
					section.discounts(ng-show='isDisplayed',ng-controller='TooltipCtrl')

						div(tooltip='{{normalTooltip}}',tooltip-placement='left')
							button(class="btn btn-danger",ng-click="selectDisc(discounts.normalDisc)") 5% off! 
						
						div(tooltip='{{fiftyTooltip}}',tooltip-placement='left')
							button(class="btn btn-danger",ng-click="selectDisc(discounts.fiftyDisc)",ng-disabled='fiftyButton') 10% off!
						
						div(tooltip='{{seventyTooltip}}',tooltip-placement='left')
							button(class="btn btn-danger",ng-click="selectDisc(discounts.senventyFiveDisc)",ng-disabled='seventyButton') 15% off!

					div(class="itemChart",ng-repeat='cloth in sharedCart track by $index')
						h5(ng-bind='cloth.name') 
						h6(ng-bind='cloth.category')
						p(data-ng-bind='cloth.price | currency : "£ " : 2')
						button(class="btn btn-xs btn-warning",ng-click='removeItem($index)') Remove Item


